@model EventManagement_Project.Models.BookingEquipmentModel
@{
    string name = ViewData["Name"] as string;
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
    <form method="post" enctype="multipart/form-data">
        <div class="col-xs-offset-0 col-xs-4">
            <div class="container-fluid service py-5">
                <div class="section-title  wow fadeInUp" data-wow-delay="0.2s">
                    <div class="sub-style">
                        <h4 class="sub-title px-3 mb-0">Booking Equipments</h4>
                    </div>
                </div>
            </div>
            <input asp-for="BookingEquipmentID" type="hidden" id="txtID" class="form-control" />

            <div class="form-group">
                <label>Equipments list</label>
                @if (TempData.ContainsKey("Equipments"))
                {
                    var EquipmentsList = TempData["Equipments"] as List<EquipmentModel>;
                    foreach (var Equipment in EquipmentsList)
                    {
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="selectedEquipments" id="equipment_@Equipment.EquipmentId" value="@Equipment.EquipmentId" data-img="@Equipment.EquipmentFilepath" onchange="changeImage(this)">
                                @Equipment.EquipmentName
                            </label>
                        </div>
                    }
                }
            </div>

            <br />
            <div class="form-group">
                <button type="button" onclick="Savedata()" class="btn btn-success">Book Equipment</button>
            </div>
        </div>

    </form>
</div>
        <div class="col-md-6">
            <div style="margin-top: 100px;">
                <img id="Image" src="" alt="Image" style="width:400px; height: 330px;">
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="~/js/EquipmentBooking.js"></script>