@model EventManagement_Project.Models.Registration_Model

<section class="container-fluid" style="background-color: #eee;">
    <div class="container ">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card  text-Black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                                <form class="mx-1 mx-md-4">
                                    <input asp-for="Id" type="hidden" id="txtId" required />

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>Name</strong></label>

                                            <input asp-for="Name" type="text" id="txtName" class="form-control py-2 border-primary bg-transparent  text-Black"  />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example3c" style="color:#21abcd"><strong>Address</strong></label>

                                            <input asp-for="Address" type="text" id="txtAddress" class="form-control py-2 border-primary bg-transparent  text-Black"  />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4c" style="color:#21abcd"><strong>Country</strong></label>

                                            <select asp-for="Country" type="text" id="txtCountry" class="form-control py-2 border-primary bg-transparent  text-Black" >
                                                <option value="">Countries</option>
                                                @if (TempData.ContainsKey("countries"))
                                                {
                                                    var countrylist = TempData["countries"] as List<CountryModel>;
                                                    foreach (var country in countrylist)
                                                    {
                                                        <option value="@country.CountryID">@country.CountryName</option>
                                                    }
                                                }
                                            </select>                                        
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example4cd" style="color:#21abcd"><strong>State</strong></label>

                                            <select asp-for="State" type="text" id="txtState" class="form-control py-2 border-primary bg-transparent  text-Black"  >
                                                <option value="">States</option>
                                            </select>                                           
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form2Example3" style="color:#21abcd"><strong>City</strong></label>

                                        <select asp-for="City" type="text" id="txtCity" class="form-control py-2 border-primary bg-transparent  text-Black"  >
                                            <option value="">City</option>
                                        </select>                                 
                                    </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>Mobile Number</strong></label>

                                            <input asp-for="Mobile_No" type="text" id="txtMobile_No" class="form-control py-2 border-primary bg-transparent  text-Black"  />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>Email</strong></label>

                                            <input asp-for="Email_ID" type="text" id="txtEmail_ID" class="form-control py-2 border-primary bg-transparent  text-Black"  />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>UserName</strong></label>

                                            <input asp-for="Username" type="text" id="txtUsername" class="form-control py-2 border-primary bg-transparent  text-Black"  />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>Password</strong></label>

                                            <input asp-for="Password" type="password" id="txtPassword" class="form-control py-2 border-primary bg-transparent  text-Black"  />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>Confirm Password</strong></label>

                                            <input asp-for="ConfirmPassword" type="password" id="txtConfirmPassword" class="form-control py-2 border-primary bg-transparent  text-Black"  />
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>Gender</strong></label>

                                            <select asp-for="Gender" type="text" id="txtGender" class="form-control py-2 border-primary bg-transparent  text-Black"  >
                                                <option value="">Select Gender</option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                            </select>                                         
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>Birthdate</strong></label>
                                            <input asp-for="BirthDate" type="date" id="txtBirthDate" class="form-control py-2 border-primary bg-transparent text-Black" />
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="form3Example1c" style="color:#21abcd"><strong>Role</strong></label>

                                            <select asp-for="RoleID" type="text" placeholder="Role" id="txtRoleID" class="form-control py-2 border-primary bg-transparent  text-Black" >
                                                <option value="">Roles</option>
                                                @if (TempData.ContainsKey("Roles"))
                                                {
                                                    var Rolelist = TempData["Roles"] as List<Role_Model>;
                                                    foreach (var role in Rolelist)
                                                    {
                                                        <option value="@role.RoleID">@role.Rolename</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="button" onclick="Registration()" class="btn btn-primary btn-lg">Register</button>
                                    </div>

                                    <div class="d-flex justify-content-center links">
                                        Already have an account?<a href="/SignIn/Login">Jump To Log In</a>
                                    </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp'); background-size: auto; background-position:center;">

                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    var currentDate = new Date().toISOString().split('T')[0];
    document.getElementById("txtBirthDate").max = currentDate;
</script>

<link href="~/css/signin.css" rel="stylesheet" />
<link href="~/css/stylesheet.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<script src="~/js/signin.js"></script>
<link href="~/css/signin.css" rel="stylesheet" />
<link href="~/css/stylesheet.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />