

@{
    ViewData["Title"] = "Dashboard";
}
@{
    string Username = ViewData["Name"] as string;
}
<h1 class="text-primary m-0"><i class="fas fa-star-of-life me-3"></i>Customer Dashboard</h1>

<div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
    <img id="foodImage" src="https://digitalmarketingdeal.com/blog/wp-content/uploads/2021/01/event-management-bg.jpg" alt="Image" style="width: 95%; height: 90%;">
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
